  .dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 90%;
  }
  
  .dictionary > .term {
    width: 80vw;
    margin-bottom: 1%;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
  }
  
  .dictionary > .term > dt {
    margin-bottom: 1%;
  }
  
  dt {
    color: #2ec2b0;
    line-height: 1;
  }
  
  dt span {
    font-size: 2vw;
    font-weight: 900;
  }
  li{
    font-size:1vw;
  }
  
  